	h1{
		display: flex;
		justify-content: center;
		align-items: center;
		color: brown;
		padding: 1%;
		border: 1px dashed green;
		text-transform: uppercase;
	}
	.welcome{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 4rem;
	}
	span{
		display: flex;
		justify-content: center;
		align-items: center;

	}
	.links{
		font-size: 1.5rem;
		text-decoration: none;
		font-family: Verdana;
	}
	body{
		background-color: #282828;
		color: whitesmoke;
	}
	a{
		text-decoration: none;
		color: red;
	}